.mission__section {
  border-bottom: 1px solid $clr-neutral-300;
}

.mission {
  @extend %grid;
  row-gap: $spacing-40;
  justify-items: stretch;
  align-items: stretch;
  padding-block-start: $spacing-48;
  padding-block-end: $spacing-64;

  @include respond-to($breakpoint-tablets) {
    padding-block-start: $spacing-64;
    padding-block-end: $spacing-80;
    row-gap: $spacing-64;
  }

  @include respond-to($breakpoint-desktops) {
    padding-block-start: $spacing-80;
    padding-block-end: $spacing-96;
    grid-template-columns: auto 1fr;
    column-gap: $spacing-64;
    align-items: center;
  }

  &__header {
    @extend %flexbox;
    flex-flow: column nowrap;
    align-items: stretch;
    gap: $spacing-24;

    @include respond-to($breakpoint-desktops) {
      max-width: 51rem;
    }
  }

  &__text {
    @extend %flexbox;
    align-items: start;
    justify-content: start;
    flex-flow: column nowrap;
    gap: $spacing-16;
  }

  &__label {
    @extend %text-preset-5;
    color: $clr-neutral-900;
    padding-inline: $spacing-6;
    padding-block: $spacing-2;
    background-color: $clr-orange;
    width: fit-content;
    border-radius: $radius-6;
  }

  &__title {
    @extend %text-preset-2-mob;
    color: $clr-neutral-900;
    text-wrap: auto;

    @include respond-to($breakpoint-tablets) {
      font-size: 4.8rem;
    }
  }

  &__text p {
    @extend %text-preset-6;
    color: $clr-neutral-600;
    text-wrap: auto;
  }

  &__image {
    position: relative;

    img {
      border-radius: $radius-10;
    }
  }
}
