@import "variables.css";

.cta {
  background-color: var(--clr-neutral-200);
  padding-block: var(--spacing-48);
  padding-inline: var(--spacing-16);
  border-radius: var(--radius-16);
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: var(--spacing-32);
  text-align: center;
  overflow: hidden;
  margin-block-start: var(--spacing-64);

  &::before {
    content: "";
    position: absolute;
    background: url(../assets/images/pattern-fork.svg) no-repeat top/cover;
  }

  &::after {
    content: "";
    position: absolute;
    background: url(../assets/images/pattern-knife.svg) no-repeat top/cover;
  }

  @media (min-width: 48em) {
    padding-block: var(--spacing-80);
    padding-inline: 0;
    gap: var(--spacing-40);
    margin-block-start: var(--spacing-80);

    &::before {
      bottom: -5.6rem;
      left: -4.8rem;
      width: 18rem;
      height: 23rem;
    }

    &::after {
      width: 17.2rem;
      height: 17.2rem;
      top: -5rem;
      right: -2.1rem;
    }
  }

  @media (min-width: 64em) {
    padding-block: var(--spacing-96);
    &::before {
      width: 31.5rem;
      height: 39rem;
      top: 2.4rem;
      left: -7.3rem;
    }

    &::after {
      width: 33.8rem;
      height: 33.8rem;
      top: 2.4rem;
      right: -7rem;
    }
  }

  @media (min-width: 75em) {
    margin-block-start: var(--spacing-96);
  }
}

.cta__text {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-12);
  align-items: center;
}

.cta__title {
  font-size: 4rem;
  font-family: Nunito;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: -0.2rem;
  color: var(--clr-neutral-900);
  text-wrap: auto;
  z-index: 1;

  @media (min-width: 48em) {
    font-size: 4.8rem;
  }
}

.cta__desc {
  font-size: 2rem;
  font-family: "Nunito Sans";
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.04rem;
  color: var(--clr-neutral-600);
}
