.footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: var(--spacing-24);
  padding-block-start: var(--spacing-32);
  padding-block-end: var(--spacing-20);
}

.footer__icons {
  display: flex;
  gap: var(--spacing-24);
}

.footer__icon {
  width: 2.2rem;
  height: 2.2rem;
  fill: var(--clr-neutral-900);
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.footer__text {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Nunito Sans";
  line-height: 1.5;
  letter-spacing: -0.03rem;
  color: var(--clr-neutral-900);
}
