@import "variables.css";

.header {
  border-bottom: 1px solid var(--clr-neutral-300);
  max-width: 144rem;
  margin-inline: auto;
}

.navigation {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.navigation__logo {
  width: 25rem;
  height: 3.2rem;
}

.navigation__menu {
  width: 4rem;
  height: 4rem;
  padding: var(--spacing-12);
  border-radius: var(--radius-4);
  background-color: var(--clr-neutral-300);
  display: none;
}

.navigation__list {
  display: flex;
  gap: var(--spacing-40);
  justify-self: center;
}

.navigation__list li {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: Nunito;
  line-height: 1.5;
  letter-spacing: -0.03rem;
  position: relative;

  a {
    color: var(--clr-neutral-900);
  }

  &::after {
    content: "";
    position: absolute;
    background-color: var(--clr-orange);
    border-radius: var(--radius-4);
    margin-block-start: 0.5rem;
    display: block;
  }

  &[data-active="true"]::after,
  &:hover::after {
    top: 2rem;
    left: 0;
    width: 100%;
    height: 0.3rem;
  }
}

.navigation__list--link {
  display: none;
}

.navigation__link {
  padding-inline: var(--spacing-16);
  padding-block: var(--spacing-12);
  font-size: 2rem;
  letter-spacing: -0.05rem;
}

@media (min-width: 64em) {
  .navigation__logo {
    width: 26rem;
    height: 4rem;
  }
}

@media (max-width: 64em) {
  [aria-expanded="true"] + .navigation__list {
    display: block;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
  }

  .navigation__menu {
    display: block;
  }

  .navigation__list {
    display: none;
    flex-flow: column nowrap;
    position: absolute;
    top: 9.2rem;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--clr-white);
    width: calc(100% - 6.4rem);
    padding: var(--spacing-8);
    gap: 0;
    border-radius: var(--radius-8);
    box-shadow:
      inset 0 0 0 1px var(--clr-neutral-300),
      0 12px 22px -12px var(--clr-neutral-600);
    z-index: 1;
  }

  .navigation__list li {
    &::after {
      content: none;
    }
    padding-inline: var(--spacing-8);
    padding-block: var(--spacing-12);
  }

  .navigation__link {
    display: none;
  }

  .navigation__list--link {
    display: block;
    background-color: var(--clr-neutral-900);
    text-align: center;
    width: 100%;
    border-radius: var(--radius-10);

    a {
      color: var(--clr-white) !important;
    }
  }
}

@media (max-width: 47.5em) {
  .navigation__list {
    top: 7.2rem;
    width: calc(100% - 3.2rem);
  }
}
