@import "variables.css";

@layer reset {
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
    hanging-punctuation: first last;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;

    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }
  }

  body {
    font-family: Nunito, sans-serif;
    line-height: 1;
    background-color: var(--clr-neutral-100);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  p {
    max-width: 75ch;
    text-wrap: pretty;
  }

  a {
    display: inline-block;
  }

  a:active,
  a:visited,
  a:focus,
  a:link {
    text-decoration: none;
  }

  img,
  picture,
  video,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  button {
    border: none;
  }

  [role="list"] {
    list-style: none;
  }
}

@layer utilities {
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }

  [hidden] {
    display: none;
  }

  .container {
    max-width: 119.2rem;
    margin-inline: var(--spacing-16);
    margin-block: var(--spacing-20);

    @media (min-width: 48em) {
      margin-inline: var(--spacing-32);
      margin-block-start: var(--spacing-32);
      margin-block-end: var(--spacing-20);
    }

    @media (min-width: 75em) {
      margin-inline: auto;
      margin-block: var(--spacing-20);
    }
  }
}
